/*------------------------------------------------------------------
Primary use:    footer.css file used for styling components
                inside footer element
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Layout]
-------------------------------------------------------------------*/


.region-content p a, .region-below-content p a, .region-above-content p a, footer.footer a {
    background-image: linear-gradient(120deg, #edba32 0%, #edba32 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 106%;
    transition: background-size 0.15s ease-in;
    color: #444;
}

.region-content p a:hover, .region-below-content p a:hover, .region-above-content p a:hover, footer.footer a:hover {
    background-size: 105% 105%;
    cursor: pointer;
}

.news-center-view-display .view-footer {
    padding-top: 1rem;
    text-align: center;
}

.news-center-view-display .view-footer .button, .news-center-view-display .view-footer a.button {
    font-size: 2.6rem;
    padding: 0.5rem 3.5rem 0.1rem;
}

footer.footer {
    padding: 0;
    color: white;
    background-color: #222;
    margin-top: 0px;
}

footer.footer .footer-new {
    position: relative;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 90%), url('../assets/images/footer/footer-test-1.jpg');
    padding: 5em 3em 1.5em 3em;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;


}

footer.footer .footer-new a, footer.footer .footer-new p {
    color: #fff;
    font-size: .9em;
    line-height: 1.2em;
    font-weight: normal;
    text-align: center;
    padding: 1em 0px;
}

footer.footer .footer-logo {
    padding-bottom: 1em;
}

footer.footer .footer-icon {
    font-size: 1.6em !important;
    padding: 0px .7em !important;
}

footer.footer .footer-end {
    background-color: #222;
    color: #fff;
    font-size: .8em;
    font-weight: normal;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

footer.footer .footer-end a {
    color: #fff;
}

footer.footer .footer-new a, footer.footer .footer-new p {
    color: #fff;
    font-size: .9em;
    line-height: 1.2em;
    font-weight: normal;
    text-align: center;
    padding: 1em 0px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}

.margin-zero {
    margin: 0 0 0px !important;
}

@media (min-width:768px) {
    .col-sm-offset-0 {
        margin-left: 18%;
    }

    .col-12 {
        width: 75%;
    }

    .col-12 {
        width: 75%;
    }

    .address-phone {
        padding: 0.65em 1em;
        text-align: left;
    }

    .copyright {
        padding: 0.65em 1em;
        text-align: right;
    }
}

@media (min-width:992px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-offset-3 {
        margin-left: 33.333333%;
    }

    footer.footer .footer-end .address-phone {
        padding: 0.65em 1em;
        text-align: left;
    }

    footer.footer .footer-end .copyright {
        padding: 0.65em 1em;
        text-align: right;
    }
}

@media (min-width:1200px) {
    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .img-responsive {
        max-width: 100%;
    }

    .footer.footer .footer-new p {
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .copyright {
        padding: 0.65em 1em;
        text-align: center;
    }

    .address-phone {
        padding: 0.65em 1em;
        text-align: center;
    }
}

/* ul, ol {
    margin: 0 0 1em 15px;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

ul ul, ul ol, ol ol, ol ul, .block ul ul, .block ul ol, .block ol ol, .block ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul {
    margin: 0 0 0 15px;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: decimal;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 15px;
}

.item-list ul, .item-list ol {
    margin: 0 0 0 15px;
    padding: 0;
}

.item-list ul li {
    margin: 0;
    padding: 0;
}

.three-3x33 ul, .three-3x33 ul li, .four-4x25 ul, .four-4x25 ul li {
    list-style: none;
    list-style-type: none;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

img, embed, object, video {
    max-width: 100%;
}

.lt-ie9 img, .lt-ie9 object, .lt-ie9 embed, .lt-ie9 video {
    max-width: none;
}

#map img, .gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img, #locationmap_map img, .geofieldMap img, .views_horizontal_slider img, .field-widget-imagefield-crop-widget img {
    max-width: none !important;
}

svg:not(:root) {
    overflow: hidden;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

input.form-text, textarea {
    padding: 4px;
    max-width: 100%;
}

select {
    padding: 3px;
}

.form-textarea-wrapper textarea {
    font-size: 130%;
}

fieldset.filter-wrapper {
    border: 0;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-help {
    padding: 10px 0 0 0;
}

.filter-wrapper .form-item {
    padding: 0 0 10px 2px;
}

.filter-guidelines {
    padding: 0 10px 10px 2px;
}

.form-submit {
    border: 0;
    margin: 5px 10px 5px 0;
    padding: 2px 10px;
    cursor: pointer;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.form-submit:focus, .form-submit:hover {
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

#block-user-login .form-submit:focus, #block-user-login .form-submit:hover {
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

input.form-text, textarea, select {
    -webkit-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.resizable-textarea .grippie {
    display: none;
}

fieldset {
    margin-bottom: 15px;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
}

fieldset.collapsed {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input#edit-checkout, input#edit-continue {
    font-size: 1.231em;
    font-weight: 700;
    margin-right: 0;
}

input#edit-submit[value*="Update cart"], input#edit-cancel {
    font-size: 1.231em;
}

.region-draw {
    padding: 25px 20px 0;
}

.region-draw a:hover, .region-draw a:focus {
    text-decoration: underline;
}

.region-draw .block {
    display: inline-block;
    min-width: 25%;
    max-width: 50%;
}

#draw {
    display: block;
    width: 100%;
}

html.js #draw, #toggle-wrapper {
    display: none;
}

html.js #toggle-wrapper {
    display: block;
}

#draw-wrapper a {
    text-decoration: underline;
}

#toggle-wrapper a {
    display: block;
    padding: 0 10px 2px;
    font-size: 0.923em;
    outline: 0;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

#header-wrapper {
    border-bottom: 1px solid #fff;
}

#header-wrapper header {
    margin: 0 10px;
}

#branding {
    margin: 25px 0 18px;
}

#logo {
    padding-top: 0.214em;
}

#site-name {
    font-size: 3em;
}

#site-slogan {
    font-size: 2.3em;
    padding-left: 10px;
    padding-right: 10px;
}

#site-name, #site-slogan {
    display: inline-block;
    line-height: 1;
    padding-top: 5px;
}

#branding.with-logo.site-name-hidden.with-site-slogan hgroup, #branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
    float: none;
    display: block;
    clear: both;
    padding: 0;
}

#branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
    font-size: 1.231em;
    padding-top: 5px;
}

#menu-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
    top: 1.25em;
    min-height: 2.5em;
    clear: both;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

#menu-bar .block {
    position: static;
    text-transform: uppercase;
}

#menu-bar ul ul {
    margin-left: 0;
}

#menu-bar .sf-menu {
    margin-bottom: 0;
}

#menu-bar .block-menu, #menu-bar .block-menu ul, #menu-bar .block-menu ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav .block-menu ul li {
    float: left;
}

.nav .block-menu ul {
    float: left;
}

.nav .block-menu ul ul {
    padding-left: 0;
}

.nav .block-menu ul a {
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}

.nav .block-menu ul li:hover, .nav .block-menu ul li.sfHover, .nav .block-menu ul a:focus, .nav .block-menu ul a:hover, .nav .block-menu ul a:active {
    outline: 0;
}

#secondary-content-wrapper .texture-overlay {
    padding-top: 4em;
    padding-bottom: 30px;
}

#content-wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
}

#content-wrapper.no-secondary {
    padding-top: 4em;
}

#sub-panels-wrapper {
    padding: 0 0 40px;
    margin-bottom: 25px;
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/blur-seperator.png) no-repeat center bottom;
}

#tertiary-content-wrapper {
    padding: 20px 0 0;
}

#secondary-content-wrapper .region-secondary-content, #tertiary-content-wrapper .region-tertiary-content {
    margin-left: 40px;
    margin-right: 40px;
}

#quint-panels-wrapper {
    padding: 30px 0 20px;
}

#footer-panels-wrapper {
    padding: 30px 0 15px;
}

#footer-wrapper {
    padding: 20px 0 15px;
}

.field-type-image img {
    background: #fff;
    padding: 4px;
}

.field-label {
    font-size: 1em;
}

.field-type-commerce-price {
    font-size: 1.538em;
}

.field-type-taxonomy-term-reference ul {
    margin: 0;
    padding: 0;
}

.field-type-taxonomy-term-reference li {
    list-style: none;
}

.field-type-taxonomy-term-reference.field-label-inline li {
    display: inline;
    margin-right: 8px;
}

.node, .comment {
    margin-bottom: 25px;
}

article header {
    position: relative;
    margin-bottom: 10px;
}

.node-title {
    line-height: 1.4;
}

article .submitted {
    color: #666;
    font-size: 0.923em;
    padding: 0 0 0.6em;
    margin: 0;
    position: relative;
}

article .node-content {
    padding: 10px 0;
}

article nav {
    clear: both;
}

article ul.links {
    font-size: 0.923em;
    text-transform: capitalize;
    text-align: right;
    margin: 10px 0;
    padding: 0;
}

article ul.links li {
    display: inline;
    list-style: none;
    margin: 0 0 0 10px;
}

article ul.links a {
    padding: 0;
    text-transform: capitalize;
}

.node header.with-picture {
    height: 3.5em;
    height: auto !important;
    min-height: 3.5em;
    padding-left: 60px;
}

.node header .user-picture {
    left: 0;
    top: 9px;
    position: absolute;
    max-width: 47px;
    max-height: 47px;
    overflow: hidden;
}

.node header .user-picture img {
    display: block;
    margin: 0;
    max-width: 47px;
    max-height: 47px;
}

article figcaption {
    font-style: italic;
    font-size: 0.9em;
}

h2.comment-title {
    margin-bottom: 20px;
}

article.comment header.with-picture {
    height: 3em;
    height: auto !important;
    min-height: 3em;
    padding-left: 50px;
}

article.comment header .user-picture {
    top: 5px;
    max-width: 35px;
    max-height: 35px;
}

article.comment header .user-picture img {
    max-width: 35px;
    max-height: 35px;
}

article .comment-content {
    padding: 10px 0 0;
}

.comment em.new {
    background: green;
    border: 1px solid #fff;
    color: #fff;
    display: block;
    float: right;
    font-style: normal;
    line-height: 1.3;
    padding: 0 4px 2px;
    margin: 5px 0 0 0;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.user-signature p {
    font-style: italic;
    text-align: right;
    margin: 0;
}

.user-signature p:before, .user-signature p:after {
    content: '"';
}

.block {
    margin-bottom: 20px;
}


.region-tertiary-content .block {
    margin-bottom: 0;
}

#block-comment-recent span {
    font-size: 0.823em;
}

#block-user-login ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#breadcrumb {
    margin-bottom: 20px;
}

#breadcrumb h2 {
    font-size: 1em;
    font-weight: 400;
    display: inline;
}

ol#crumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

ol#crumbs li.crumb {
    display: inline;
    list-style: none;
}

.poll .vote-form .choices {
    margin: 0;
}

.poll .vote-form {
    text-align: left;
}

.profile .user-picture {
    float: none;
    margin: 0 0 10px;
}

#forum .description {
    margin: 0 0 0 33px;
}

#messages-help-wrapper {
    margin-bottom: 25px;
}

ul.primary {
    margin: 7px 0 10px;
    padding: 0;
}

ul.primary li a {
    font-weight: 700;
    line-height: 1.7;
    margin-right: 0;
    padding: 0 8px 0 2px;
}

ul.primary li a, ul.primary li a:hover, ul.primary li a.active, ul.primary li.active a, ul.primary li a.active:hover, ul.primary li a.active:focus {
    border: 0;
}

.contextual-links-wrapper .contextual-links {
    margin: 0 !important;
    padding: 0.25em 0 !important;
}

.contextual-links-wrapper .contextual-links li {
    display: block !important;
    float: none !important;
    line-height: 100% !important;
    list-style: none !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.contextual-links-wrapper .contextual-links a {
    font-family: Arial, sans-serif !important;
    font-size: small !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    line-height: 1.2em !important;
    text-decoration: none !important;
    text-transform: none !important;
    color: #333 !important;
    display: block !important;
    float: none !important;
    margin: 0.25em 0 !important;
    padding: 0.25em 1em 0.25em 0.5em !important;
}

.cart-block-summary-links ul.links li {
    border-right: 0;
}

.views-view-grid h1 {
    font-size: 1.25em;
}

.nav .block-superfish, .sf-horizontal {
    padding: 0;
    margin: 0;
}

.calendar-calendar div.date-nav {
    border: 0;
    padding: 1px;
}

.calendar-calendar td {
    text-align: center;
}

.calendar-calendar th.days {
    border: 0;
}

.calendar-calendar td.calendar-agenda-hour {
    border-style: solid none none;
}

.calendar-calendar td.calendar-agenda-items {
    border-style: solid;
}

.calendar-calendar td.calendar-agenda-hour {
    border-style: none none solid solid;
    border-width: 1px;
}

.calendar-calendar td.calendar-agenda-hour .calendar-hour {
    padding: 0 5px;
    white-space: nowrap;
}

.calendar-calendar div.calendar {
    font-size: 1em;
}

.calendar-calendar td .inner div.calendar div {
    border: 0;
    padding: 0 5px;
}

.calendar-calendar td .inner div.calendar div a {
    padding: 0;
    font-weight: 700;
    text-decoration: underline;
}

.week-view .calendar-calendar td .inner div, .week-view .calendar-calendar td .inner div a {
    border-bottom: 1px solid #fff;
}

.calendar-calendar td.empty {
    background: none;
}

.view-content .calendar-calendar ul.inline {
    padding: 0 0 10px;
    display: block;
}

.view-content .calendar-calendar ul.inline li {
    margin-right: 2px;
}

.block .calendar-calendar .month-view table {
    border: 2px solid #fff;
    clear: both;
    margin: 0;
    padding: 3px;
}

.calendar-calendar .inner {
    padding: 1px;
}

#main-content.content-display-grid article.node {
    float: left;
    margin: 0 0 10px;
    min-width: 150px;
}

.content-display-grid article .node-inner {
    padding: 5px;
}

.content-display-grid article.node h1 {
    font-size: 1.077em;
}

.content-display-grid article .node-content {
    padding: 0 0 10px;
}

.content-display-grid article .node-inner img {
    padding: 0;
    height: auto;
}

.content-display-grid article .field {
    margin-bottom: 0;
}

.content-display-grid article input.form-submit {
    margin-left: 0;
    margin-right: 0;
}

body.front.fpcc-2 #main-content article.node, body.page-taxonomy.tpcc-2 #main-content article.node {
    width: 50%;
}

body.front.fpcc-3 #main-content article.node, body.page-taxonomy.tpcc-3 #main-content article.node {
    width: 33.33333333333333%;
}

body.front.fpcc-4 #block-system-main article.node, body.page-taxonomy.tpcc-4 #main-content article.node {
    width: 25%;
}

body.front.fpcc-5 #main-content article.node, body.page-taxonomy.tpcc-5 #main-content article.node {
    width: 20%;
}

body.front.fpcc-6 #main-content article.node, body.page-taxonomy.tpcc-6 #main-content article.node {
    width: 16.66666666666667%;
}

body.front.fpcc-7 #main-content article.node, body.page-taxonomy.tpcc-7 #main-content article.node {
    width: 14.28571428571429%;
}

body.front.fpcc-8 #main-content article.node, body.page-taxonomy.tpcc-8 #main-content article.node {
    width: 12.5%;
}

.hl-l #toggle {
    float: right;
    margin-right: 20px;
}

.hl-r #toggle {
    float: left;
    margin-left: 20px;
}

.hl-c #toggle {
    float: none;
    margin: auto;
    text-align: center;
}

.hl-l #branding {
    float: left;
}

.hl-l .region-header {
    float: right;
    margin: 17px 0 0 20px;
}

.hl-l .region-header .block {
    display: inline-block;
    clear: none;
    margin-bottom: 0;
}

.hl-l #logo, .hl-l hgroup {
    padding-right: 18px;
    float: left;
}

.hl-r #branding {
    float: right;
}

.hl-r .region-header {
    float: left;
    margin: 17px 20px 0 0;
}

.hl-r .region-header .block {
    display: inline;
    clear: none;
    margin-bottom: 0;
}

.hl-r #logo {
    float: right;
    padding-right: 0;
    padding-left: 18px;
}

.hl-r #site-name, .hl-r #site-slogan {
    text-align: right;
}

.hl-c #branding {
    float: none;
    margin: auto;
    text-align: center;
}

.hl-c .region-header {
    display: table;
    float: none;
    margin: 15px auto 0;
    text-align: center;
}

.hl-c .region-header .block {
    clear: none;
    display: inline;
    margin: auto;
    padding: 0 0 20px !important;
    text-align: left;
}

.hl-c .region-header .block-inner {
    margin: 0 20px;
}

.hl-c #logo, .hl-c #site-name, .hl-c #site-slogan {
    float: none;
    margin: 0;
    padding: 0 0 6px;
    text-align: center;
}

.mma-r #menu-bar .block {
    float: right;
}

.mma-c #menu-bar .block {
    display: table;
    text-align: center;
    margin: auto;
    float: none;
    clear: both;
}

.mma-c #menu-bar .block li a {
    text-align: left;
}

.ia-l .field-type-image figure, .iat-l .field-type-image figure {
    margin: 4px 15px 4px 0;
}

.ia-l .field-type-image figcaption, .iat-l .field-type-image figcaption {
    margin: 4px 0;
}

.ia-r .field-type-image figure, .iat-r .field-type-image figure {
    margin: 4px 0 4px 15px;
}

.ia-r .field-type-image figcaption, .iat-r .field-type-image figcaption {
    margin: 4px 0;
}

.ia-c .field-type-image figure, .ia-n .field-type-image figure, .iat-c .field-type-image figure, .iat-n .field-type-image figure {
    border: none;
    padding: 10px 0;
}

.field-type-image.field-label-above {
    margin-top: 0;
}

.field-type-image .field-label {
    margin-bottom: 0.5em;
}

.field-type-image.field-label-inline .field-label {
    margin-bottom: 0;
    line-height: 1;
}

.mb-n ul.menu {
    padding: 0;
    margin: 0;
}

.mb-n ul li.leaf, .mb-n ul li.collapsed, .mb-n ul li.expanded {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.mb-ah ul.menu {
    padding: 0 0 0 1.1em;
    margin: 0;
}

.mb-ah ul li.leaf, .mb-ah ul li.collapsed, .mb-ah ul li.expanded {
    list-style-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow-head.png);
}

.mb-ad ul.menu {
    padding: 0 0 0 1.2em;
    margin: 0;
}

.mb-ad ul li.leaf, .mb-ad ul li.collapsed, .mb-ad ul li.expanded {
    list-style-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow-double.png);
}

.mb-ca ul.menu {
    padding: 0 0 0 1.6em;
    margin: 0;
}

.mb-ca ul li.leaf, .mb-ca ul li.collapsed, .mb-ca ul li.expanded {
    list-style-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow-circle.png);
}

.mb-fa ul.menu {
    padding: 0 0 0 1.6em;
    margin: 0;
}

.mb-fa ul li.leaf, .mb-fa ul li.collapsed, .mb-fa ul li.expanded {
    list-style-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow-fat.png);
}

.mb-sa ul.menu {
    padding: 0 0 0 1.6em;
    margin: 0;
}

.mb-sa ul li.leaf, .mb-sa ul li.collapsed, .mb-sa ul li.expanded {
    list-style-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow-skinny.png);
}

.itrc-2 input.form-text, .isrc-2 input.form-submit {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.itrc-3 input.form-text, .isrc-3 input.form-submit {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.itrc-4 input.form-text, .isrc-4 input.form-submit {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.itrc-6 input.form-text, .isrc-6 input.form-submit {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.itrc-8 input.form-text, .isrc-8 input.form-submit {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.itrc-10 input.form-text, .isrc-10 input.form-submit {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.itrc-12 input.form-text, .isrc-12 input.form-submit {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}

#secondary-content-wrapper, #secondary-content-wrapper .texture-overlay {
    min-height: 25px;
}

.opera #secondary-content-wrapper {
    margin-bottom: 15px;
}

body.bb-n #secondary-content-wrapper .texture-overlay, body.bb-n #quint-panels-wrapper .texture-overlay {
    background-image: none;
}

body.bb-b #secondary-content-wrapper .texture-overlay, body.bb-b #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/bubbles.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-hs #secondary-content-wrapper .texture-overlay, body.bb-hs #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/hoz-stripe.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-dp #secondary-content-wrapper .texture-overlay, body.bb-dp #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/diagonal-pattern.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-dlt #secondary-content-wrapper .texture-overlay, body.bb-dlt #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/diagonal-tight.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-dll #secondary-content-wrapper .texture-overlay, body.bb-dll #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/diagonal-loose.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-sd #secondary-content-wrapper .texture-overlay, body.bb-sd #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/dots-small.png);
    background-position: 0 0;
    background-repeat: repeat;
}

body.bb-bd #secondary-content-wrapper .texture-overlay, body.bb-bd #quint-panels-wrapper .texture-overlay {
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/dots-big.png);
    background-position: 0 0;
    background-repeat: repeat;
    min-height: 40px;
}


#secondary-content-wrapper {
    background-color: #242424;
    color: #242424;
}

#secondary-content-wrapper a {
    color: #660000;
}

#secondary-content-wrapper .texture-overlay {
    border-bottom: 1px solid #ffffff;
}

#content-wrapper {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

#quint-panels-wrapper {
    background-color: #ffffff;
    color: #181818;
    border-top: 1px solid #ffffff;
}

#quint-panels-wrapper a {
    color: #c2c2c2;
}

#page-footer {
    background-color: #54585a;
}

#footer-panels-wrapper {
    color: #f1f1f1;
    border-bottom: 1px solid #ffffff;
}

#footer-panels-wrapper h1, #footer-panels-wrapper h2, #footer-panels-wrapper h3, #footer-panels-wrapper .title, #footer-panels-wrapper a, #footer-panels-wrapper a:link, #footer-panels-wrapper a:hover, #footer-panels-wrapper a:focus {
    color: #c2c2c2;
}

#footer-wrapper {
    border-top: 1px solid #e3e3e3;
    background: #54585a;
}

#draw-wrapper {
    background: #cc0000;
    color: #ffffff;
}

#draw-wrapper h1, #draw-wrapper h2, #draw-wrapper h3, #draw-wrapper .title, #draw-wrapper a, #draw-wrapper a:link, #draw-wrapper a:hover, #draw-wrapper a:focus {
    color: #ffffff;
}

#toggle-wrapper {
    border-top: 4px solid #cc0000;
    background: transparent;
    color: #ffffff;
}

#toggle-wrapper a {
    background: #cc0000;
    color: #ffffff;
}

#site-name a {
    color: #1a0101;
}

#site-slogan {
    color: #1e0606;
}

h1, h2, h3, .title {
    color: #000000;
}

#menu-bar {
    background: #c8102e;
}

.nav .block-menu ul li a {
    color: #fff9d9;
}

.nav .block-menu ul li:hover, .nav .block-menu ul li.focus, .nav .block-menu ul a:focus, .nav .block-menu ul a:hover, .nav .block-menu ul a:active, .nav .block-menu ul a:visited {
    color: #ffffff;
    background: #960c22;
}

.nav .block-menu ul ul {
    background: #c8102e;
    opacity: 0.95;
    filter: alpha(opacity=95);
    margin-left: 0;
}

.sf-menu.sf-style-default a {
    border: 0;
}

.sf-menu.sf-style-default a, .sf-menu.sf-style-default a:visited {
    color: #fff9d9;
}

.sf-menu.sf-style-default span.sf-description {
    color: #ffffea;
}

.sf-menu.sf-style-default li li, .sf-menu.sf-style-default.sf-navbar li ul {
    background-color: #960c22;
}

.sf-menu.sf-style-default li li li {
    background-color: #960c22;
}

.sf-menu.sf-style-default li:hover, .sf-menu.sf-style-default li.sfHover, .sf-menu.sf-style-default a:focus, .sf-menu.sf-style-default a:hover, .sf-menu.sf-style-default a:active {
    background-color: #960c22;
}

.sf-menu.sf-style-default li, .sf-menu.sf-style-default.sf-navbar, .sf-menu.sf-style-default ul li:hover, .sf-menu.sf-style-default ul li.sfHover, .sf-menu.sf-style-default ul a:focus, .sf-menu.sf-style-default ul a:hover, .sf-menu.sf-style-default ul a:active {
    background-color: #c8102e;
}

.sf-menu.sf-style-default.sf-navbar li ul li ul {
    background-color: transparent;
}

.node-teaser.node-sticky {
    background: #f9f9f9;
}

node header {
    border-bottom: 1px solid #727216d5;
}

#block-system-main {
    border-bottom: none;
}

.profile h3 {
    border-bottom: 1px solid #e3e3e3;
}

ul.primary {
    border-bottom: 1px solid #e3e3e3;
}

ul.primary li a, ul.primary li a:hover {
    background: transparent;
}

ul.primary li a:hover, ul.primary li a:focus, ul.primary li a.active, ul.primary li.active a, ul.primary li a.active:hover, ul.primary li a.active:focus {
    background: transparent;
    color: #222222;
}

td, th {
    border-color: #e3e3e3;
}

tr.even, tr.odd {
    border-bottom: 1px solid #e3e3e3;
}

tbody {
    border-top: 1px solid #e3e3e3;
}

input.form-text, textarea, select {
    border: 1px solid #e3e3e3;
    background-color: rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

input.form-text:focus, textarea:focus, select:focus {
    border-color: #000000;
    outline: 0;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #000000;
}

fieldset {
    border-color: #e3e3e3;
}

input[type="submit"] {
    border: 1px solid #f7f7f7;
    color: #050505;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#f7f7f7));
    background-image: -moz-linear-gradient(-90deg, #f7f7f7, #f7f7f7);
    background-image: linear-gradient(-90deg, #f7f7f7, #f7f7f7);
    -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#f7f7f7', endcolorstr='#f7f7f7')";
    filter: progid:dXImageTransform.Microsoft.gradient(enabled='true', startcolorstr=#f7f7f7, endcolorstr=#f7f7f7, GradientType=0);
}

form.commerce-add-to-cart input, .add-to-cart #edit-actions input, input#edit-checkout, input#edit-continue, input.node-add-to-cart, input.list-add-to-cart {
    border: 1px solid #007100;
    color: #ffffff;
    background-color: #007100;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007100), to(#588e51));
    background-image: -moz-linear-gradient(-90deg, #007100, #588e51);
    background-image: linear-gradient(-90deg, #007100, #588e51);
    -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#007100', endcolorstr='#588e51')";
    filter: progid:dXImageTransform.Microsoft.gradient(enabled='true', startcolorstr=#007100, endcolorstr=#588e51, GradientType=0);
}

.content-display-grid node .node-inner {
    border: 5px solid #ffffff;
}

.content-display-grid node .node-inner:hover {
    border-width: 5px;
    border-style: solid;
    border-color: #e3e3e3;
}

#search-block-form input.form-text, #search-block-form input::-webkit-input-placeholder, #search-block-form input:-moz-placeholder {
    color: #181818;
}

.calendar-calendar div.date-nav {
    background-color: transparent;
    color: #7c1300;
}

.calendar-calendar div.date-nav a, .calendar-calendar div.date-nav h3 {
    color: #00b97a;
}

.calendar-calendar td {
    color: #000000;
}

.calendar-calendar th {
    background-color: #ffffff;
    color: #7c1300;
    border: 1px solid #e3e3e3;
}

.calendar-calendar th.days {
    background-color: #ffffff;
    color: #222222;
}

.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a, .calendar-calendar td .inner div, .calendar-calendar td .inner div a {
    background-color: #fefdfc;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
    background-color: #ffffff;
}

.calendar-calendar td.calendar-agenda-hour, .calendar-calendar td.calendar-agenda-items, .calendar-calendar td.calendar-agenda-hour {
    border-color: #e3e3e3;
}

.view-content .calendar-calendar ul.inline li {
    border: 1px solid #e3e3e3;
}

#content .block .calendar-calendar .month-view table {
    border: 1px solid #e3e3e3;
}

#branding {
    margin: 5px 5px 0;
}

#header-wrapper {
    border: none;
}

#header-wrapper header {
    padding: 10px 0 3px;
}

#header-wrapper .region-header {
    float: right;
    font: 1rem 'Milo', sans-serif;
}

#header-wrapper .region-header .block {
    margin: 0;
}

#header-wrapper #block-block-12 {
    padding: 6px 0 0;
}

#header-wrapper #block-block-12 a {
    color: #fff;
}

#header-wrapper #block-block-12 a:hover {
    color: #FFF9D9;
}

#block-block-12 {
    float: right;
}

.top1-nav ul {
    display: inline;
    margin: 0;
}

.top1-nav li {
    display: inline-block;
    margin-right: 1em;
}

.hl-l .region-header {
    margin-left: 0;
    margin-top: 0;
}

.hl-l .region-header {
    margin-left: 0;
    margin-top: 0;
}

.hl-l #logo {
    padding-right: 0;
}

.small {
    font-size: 0.9rem;
}

.view-footer {
    background: #e9e9e9;
    font-size: 0.85rem;
    line-height: 1.4em;
    margin: 0.5em 0;
    padding: 0.5em;
    clear: both;
}

.view-footer a {
    color: #666666;
}

tbody {
    border: none;
}

.form-textarea-wrapper textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#block-search-form {
    float: right;
}

.search-info {
    display: none;
}

#search-block-form .form-actions {
    display: none;
}

#block-search-form input.form-text {
    box-shadow: none;
    font: 1rem 'Milo', sans-serif;
    color: #fff;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type=search] {
    width: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #54585A;
    background-image: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/search-icon3.png);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 9px 10px 9px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    color: #fff;
    height: 30px;
}

input[type=search]:focus {
    width: 100%;
    background-color: #333;
}

#menu-wrapper {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    top: 0;
    z-index: 500;
    min-height: inherit;
    background: #c8102e;
}

#menu-bar {
    max-width: 1140px;
    margin: 0 auto;
}

#menu-bar #block-superfish-1 .sf-menu {
    width: 100%;
}

#menu-bar #block-superfish-1 ul li.sf-depth-1 {
    text-transform: capitalize;
    margin: 0;
}

#menu-bar #block-superfish-1 ul li.last {
    border: none;
}

#menu-bar #block-superfish-1 ul li.sf-depth-1 a {
    padding: 12px 20px 10px 10px;
}

#menu-bar #block-superfish-1 ul li.sf-depth-2 {
    margin: 0;
    font-size: 0.9rem;
    font-family: 'Milo', sans-serif;
}

#menu-bar #block-superfish-1 a:hover, #menu-bar #block-superfish-1 a:active {
    color: #ffffff;
}

#menu-bar #block-superfish-1 ul ul {
    top: 38px;
    width: 11em;
}

#menu-bar #block-superfish-1 ul.menu li {
    margin: 0;
}

#menu-bar #block-superfish-1 ul ul ul {
    top: 0;
}

#menu-bar #block-superfish-1 ul ul li {
    background-image: none;
}

#menu-bar #block-superfish-1 ul ul li a {
    color: #222222;
    background-color: #e8e8e8;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

#menu-bar #block-superfish-1 ul ul ul li a {
    border: 1px solid #cacaca;
}

#menu-bar #block-superfish-1 ul li li.sf-depth-2 a {
    text-transform: none;
    padding: 8px 1em 5px 1em;
    line-height: 1.2em;
    background: #f5f5f5;
    -moz-box-shadow: 1px 1px 1px #cccccc;
    -webkit-box-shadow: 1px 1px 1px #cccccc;
    box-shadow: 1px 1px 1px #cccccc;
}

#menu-bar #block-superfish-1 .sf-depth-2 a:hover {
    background: #ebebeb;
    color: #222222;
}

#menu-bar #block-superfish-1 ul li .sf-sub-indicator {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrows-e38585.png) no-repeat -10px -98px;
    right: 7px;
}

#menu-bar #block-superfish-1 #menu-260-1 {
    display: none;
}

#block-superfish-1 select {
    font-size: 1rem
}

.mean-container .mean-bar {
    min-height: 0px;
    padding: 0;
    float: inherit;
}

.mean-container .mean-bar .block {
    margin-bottom: 0px;
}

.mean-container .mean-nav ul li a {
    padding: 10px 5%;
}

.mean-container .mean-nav ul li li a {
    padding: 10px 10%;
}

.mean-container .mean-nav ul li a.mean-expand {
    height: inherit;
}

.mean-container a.meanmenu-reveal {
    background-color: #cc0000;
    z-index: 1;
}

.mean-container .mean-nav {
    margin-top: 0px;
    float: inherit;
}

.mean-container .mean-nav .menu-wrapper {
    margin: 0;
}

.mean-container .mean-nav ul li span {
    display: none;
}

#footer-wrapper {
    border: 0;
    padding: 20px 10px 15px;
}

#block-block-2 {
    color: #ffffff;
    font-size: 0.9rem;
}

#block-block-2.block {
    margin-bottom: 10px;
}

#block-block-2 p, #block-block-2 ul.footer-nav {
    display: inline;
}

#block-block-2 li {
    display: inline-block;
    margin-right: .5em;
}

#block-block-2 a {
    color: #fff9d9;
}

#block-block-2 a:hover {
    color: #fff;
}

.footer-logo {
    text-align: center;
}

.footer-logo img {
    width: 240px;
}

#footermenu-wrapper {
    padding: 40px 10px;
    background: #000e2f;
    color: #fff;
    font-family: 'Milo', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}

#footermenu-wrapper .block {
    margin-bottom: 0;
}

#footermenu-wrapper h2 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Milo Medium', sans-serif;
}

#footermenu a {
    color: #fff9d9 !important;
}

#footermenu a:hover {
    color: #000e2f !important;
}

.donate-btn {
    position: relative;
    padding: 0.3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    line-height: 1.7em !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.donate-btn:hover {
    padding: 0.3em 1em 0.3em 1em;
    border: 2px solid transparent;
    background: #FFF9D9;
}

.donate-btn:hover:after {
    margin-left: 0;
    opacity: 1;
}

#footermenu a.donate-btn:hover {
    color: #c8102e;
}

#footermenu .region-inner {
    max-width: 1600px;
    margin: 0 auto;
}

.footer-social-media {
    display: table;
    margin: 0 auto;
}

ul.social-media-list {
    margin: 5px 0;
}

ul.social-media-list li {
    list-style: none;
    margin: 0 5px 10px 0;
    float: left;
    display: inline;
}

ul.social-media-list a {
    background: #FFF9D9;
    border-radius: 50%;
    display: block;
    padding: 7px 7px 4px;
    transition: background .25sÂ ease;
    line-height: 1;
}

ul.social-media-list img {
    width: 20px;
    height: 20px;
}

ul.social-media-list a:hover, ul.social-media-list a:focus {
    background: white;
}

.contact-block p {
    line-height: 1.3;
}

hr {
    border: none;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 30px 0 30px 0;
}

p {
    line-height: 1.7em;
}

#content-wrapper header {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header2_1.jpg) 10px;
}

.section-user #content-wrapper header {
    background: none;
}

h1.node-title, #tasks, .user-profile {
    max-width: 1100px;
    margin: 0 auto;
}

h1#page-title, .b-subtitle .block-inner, .brain-content {
    max-width: 1100px;
    margin: 0 auto;
}

.b-edit {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px 10px;
    background: #eee;
    margin-bottom: 50px;
}

.brain-content {
    padding: 40px 20px;
}

#content .brain-content .field ul li {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/li.png) no-repeat 0 0px;
    padding: 7px 30px 20px 40px;
}

#content .brain-content .field ul li strong {
    font-weight: bold;
    font-size: 1.1rem;
}

.field-item .at-panel {
    padding: 20px 0;
    display: block;
}

h1 {
    padding: 50px 20px;
    color: #fff;
    font-weight: normal;
}

.section-user #content-wrapper, article .node-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}

#content-wrapper .container {
    max-width: none;
}

#header2-wrapper .block, #header2-wrapper .block-inner {
    margin: 0;
}

#header2-wrapper {
    background: #c8102e;
}

#header2-wrapper .region {
    padding: 30px 20px 15px;
}

#header2-wrapper .college {
    font: 1.1rem 'Milo', sans-serif;
    line-height: 1;
    text-transform: uppercase;
}

#header2-wrapper .sitename {
    font: 3.5rem 'League Gothic', sans-serif;
    line-height: 1;
    text-transform: uppercase;
}

#b-menu-wrapper {
    background: #c8102e;
}

#block-block-3 {
    padding: 50px 0 0 0;
}

#block-block-3.block {
    margin: 0;
}

.section-user h1 {
    padding: 20px 0;
    color: #000;
}

.one-column .at-panel .region {
    clear: none;
}

.at-panel article .node-content {
    max-width: none;
    margin: inherit;
    padding: 0;
}

.pane-block-4 .block-inner {
    background: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.pane-block-4 h2.block-title {
    color: #fff;
    text-align: center;
    margin-bottom: 0.5em;
}

.pane-block-4 a {
    color: #fff;
    text-decoration: underline;
}

.b-subtitle {
    padding: 50px 20px;
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header2_1.jpg) 10px #000;
    color: #fff;
}

.b-subtitle a {
    color: #fff;
}

.b-subtitle .block-title {
    line-height: 2em;
    font-size: 2.5rem;
}

.block-title {
    color: #fff;
    font-weight: normal;
    font-size: 2.2rem;
}

#content .panel-display#bpanel {
    width: 100%;
    margin: 0;
}

#content .brain-content #node-6 .field ul li {
    background: none;
    padding: 20px;
}

#content .brain-content #node-9 .field .at-panel p {
    padding-right: 20px;
}

.pane-block-5 {
    background-color: #990033;
    color: #fff;
}

.pane-block-5 .block-inner {
    padding: 40px 60px;
    text-align: center;
}

.pane-block-5 p, .pane-block-5 h2.block-title {
    padding-bottom: 20px;
}

.pane-block-5 h2.block-title {
    color: #fff;
    text-align: center;
}

.team_button {
    display: inline-block;
    color: inherit;
}

.not-front #main-content .button a:hover {
    text-decoration: none;
}

.button a {
    color: #fff;
}

.button {
    position: relative;
    padding: 0.3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7em !important;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.button:hover {
    padding: 0.3em 1em 0.3em 1em;
    border: 2px solid transparent;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.button:hover:after {
    margin-left: 0;
    opacity: 1;
}

.page-research-areas #bpanel {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header3_4.jpg) 10px;
}

.page-research-areas #content-wrapper {
    padding-bottom: 0;
}

.page-research-areas #block-system-main.block {
    margin-bottom: 0;
}

.research-areas .research-area-title {
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.research-areas h3 {
    display: none;
}

.research-areas .views-row {
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

.research-areas .research-list {
    box-shadow: 1px 1px 5px #eee;
    -moz-box-shadow: 1px 1px 5px #eee;
    -webkit-box-shadow: 1px 1px 5px #eee;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    padding: 10px;
    background: #fff;
    float: left;
    margin-right: 20px;
    width: 220px;
    height: 310px;
}

.research-areas .research-list ul {
    margin: 0;
}

#research-cb .brain-content {
    padding: 20px 10px 10px;
}

#research-cb .pane-1 {
    padding: 0 10px;
}

#research-cb .region-inner {
    margin: 20px 10px;
}

#research-cb h2 {
    color: #fff;
}

#research-cb .pane-term-name {
    background: #960c22;
}

#content .panel-display#research {
    margin: 0;
}

.page-taxonomy #content-wrapper header {
    background: none;
}

.page-taxonomy h1#page-title {
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;
}

.page-taxonomy .brain-content {
    padding: 0 20px;
}

.front #content-wrapper {
    padding-bottom: 0;
}

.front #block-system-main.block, .main-blocks-bg.block {
    margin-bottom: 0;
}

.front .main-blocks-bg {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header3_4.jpg) #fff repeat;
    padding: 20px;
}

.front .main-blocks-bg .block-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.front #content-wrapper header {
    display: none;
}

.front #main-content {
    margin: 0;
}

#content .panel-display#main {
    margin: 0;
}

.b-maintitle .block-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.b-maintitle {
    color: #fff;
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header3.jpg) 10px #000 no-repeat;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    padding: 80px 20px;
}

.b-maintitle .block-title {
    color: #fff;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

#main .brain-content {
    padding: 20px;
}

#main .brain-content.pane-5 {
    padding-bottom: 40px;
}

#main .pane-block-6.brain-content {
    max-width: none;
    background-color: #000;
}

.pane-block-6 .block-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    color: #fff;
}

#content td {
    vertical-align: top;
}

.not-front #main-content {
    margin: 0;
}

.not-front #main-content a:hover {
    text-decoration: underline;
}

#content .field ul li {
    padding: 0px 0 3px 15px;
    list-style-image: none;
    list-style: none;
}

#content .field ul, #content .field ol {
    margin-bottom: 0.75em;
}

#content .field ol li {
    padding-bottom: 0.75em;
}

#content .field ul ul, #content .field ol ul, #content .field ol ul li {
    margin-bottom: 0;
    padding-bottom: 0;
}

#content ol {
    margin-left: 2em;
}

#content .field ul li {
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/arrow.png) no-repeat 0 7px;
}

.field-type-image img {
    padding: 0;
}

#content-wrapper.no-secondary {
    padding-top: 0;
}

#content-wrapper {
    padding-bottom: 20px;
    border: none;
}

#content h3 {
    padding-bottom: 10px;
}

#content h4, #content h5 {
    margin: 1em 0 0.5em;
}

#content h4 {
    line-height: 1.3em;
    border-bottom: 1px dotted #666666;
}

.faculty-colorbox .name {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
}

.section-project h2.block-title {
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 2.2rem;
}

.people-list {
    margin-top: 40px;
}

.people-list .block-inner {
    border-top: 1px solid #990033;
    padding-top: 20px;
}

.people-list h2.block-title {
    font-weight: bold;
}

.faculty {
    padding-top: 20px;
}

.faculty, .faculty a {
    color: #111;
}

.faculty, .faculty a:hover {
    text-decoration: none;
}

.faculty .views-row {
    padding: 5px 20px 20px;
    display: inline-block;
    vertical-align: top;
}

.faculty-colorbox td.views-field-field-picture {
    width: 210px;
}

.faculty-colorbox td {
    vertical-align: top;
}

#content .panel-display#people {
    margin: 0;
}

.brain-content #node-125 td {
    border-top: 1px solid #eee;
}

.brain-content #node-125 table {
    border: 1px solid #eee;
}

ul.isotope-container {
    margin: 30px 0 0 0;
}

ul.isotope-container li {
    padding: 5px 40px 40px 0;
    display: inline-block;
    vertical-align: top;
}

.view-people.view-display-id-block_3 h3, .view-people.view-display-id-block_4 h3 {
    font-size: 1.3rem;
    font-weight: normal;
}

.view-people.view-display-id-block_4 h3 {
    padding-top: 20px;
}

.announcement-title {
    padding: 50px 20px;
    background: url(/sites/brain.egr.uh.edu/themes/at-brain/css/images/header2_1.jpg) 10px #000;
    color: #fff;
    line-height: 2em;
    font-size: 2.5rem;
}

.announcement-title .block-content {
    margin: 0 auto;
    max-width: 1100px;
}

.announcement-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px 0;
}

.news-page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.news-page tr {
    border: none;
}

.news .post_date {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #333333;
    display: block;
}

.node-type-article .field-name-field-news-author {
    margin-bottom: 1rem;
}

.node-type-article .field-name-field-news-author h2 {
    font-weight: normal;
    color: inherit;
}

#main .pane-news .block-inner {
    margin: 0;
}

#main .pane-news h2 {
    color: #000;
    font-weight: bold;
}

.news {
    margin-top: 1em;
}

.news.view-news .views-field-title, .newstitle {
    font-size: 1.2rem;
    line-height: 1.4em;
    margin-top: 10px;
}

.news .views-field-created {
    margin: 5px 0;
}

.news .posted {
    font-size: 0.9rem;
}

.news .views-row {
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

.news .news-list {
    box-shadow: 1px 1px 5px #eee;
    -moz-box-shadow: 1px 1px 5px #eee;
    -webkit-box-shadow: 1px 1px 5px #eee;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    padding: 20px;
    background: #fff;
    float: left;
    margin-right: 1.5%;
    width: 27%;
}

.news .more-link {
    display: block;
    clear: both;
    text-align: left;
}

.news-archive h2 {
    text-align: left;
    margin: 10px 5px;
}

.more-news h2 {
    color: #000;
    font-size: 1.2rem;
    border-bottom: 1px solid #333;
}

.more-news .more-link {
    font-size: 0.9rem;
    padding: 5px;
}

.filterbutton, .sorterbutton {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #fff;
    border: 1px solid #e2e2e2;
    text-shadow: 0 1px white;
    cursor: pointer;
}

a.filterbutton, a.sorterbutton {
    color: #666;
}

.filterbutton:hover, .sorterbutton:hover {
    background-color: #eee;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.filterbutton:active, .filterbutton.selected, .sorterbutton:active, .sorterbutton.selected {
    background-color: #eee;
}

.filterbutton.selected, .sorterbutton.selected {
    color: #990033;
}

.filterbutton:active, .sorterbutton:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.5);
}

ul.isotope-options {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.isotope-options li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.isotope-options:after {
    content: '';
    display: block;
    clear: both;
}

.isotope-options .filterbutton, .isotope-options .sorterbutton {
    float: left;
    border-radius: 0;
    margin: -1px -1px 0 0;
}

.item-list ul.isotope-options {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 0;
}

.item-list ul.isotope-options li {
    padding: 0;
    margin: 0;
}

.adopters {
    width: 45%;
    float: left;
    margin-right: 20px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 20px 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
} */